html {
    text-align: center; 
    padding: 150px;
    background: linear-gradient(90deg, #001a70 0%, #0059c2 50%, #001a70 100%);
    background-image: linear-gradient(90deg, rgb(0, 26, 112) 0%, rgb(0, 89, 194) 50%, rgb(0, 26, 112) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
h1 { 
    font-size: 50px; 
}

body { font: 20px Helvetica, sans-serif; color: #Fff9e2; }
article { display: block; text-align: left; width: 650px; margin: 0 auto; }
a { color: #dc8100; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }